<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,600,700|Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

<%= render 'shared/nav' %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to'All Ideas', root_path %></li>
        <li><%= link_to'Inspire Me', random_path %></li>
        <li><%= link_to'About', about_path %></li>
        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class = "glyphicon glyphicon-user"><span class="caret"></span></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Sign In</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id = "wrap">
    <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 col-md-6 col-md-offset-3">
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
    </div>
    
  </div><!-- wrap -->

<%= render 'shared/footer' %>
<%= link_to'About',about_path %> 

</body>
</html>
